.input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--gray-03);
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  box-sizing: border-box; /* padding을 포함하여 전체 너비를 관리 */
}

/* .input:focus {
  추후논의
} */

.input::placeholder {
  color: var(--gray-03);
}
