@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/PretendardVariable.woff2') format('woff2');
}

@font-face {
  font-family: 'Firacode';
  src: url('/fonts/FiraCode-VF.woff2') format('woff2');
}

@layer base {
  html {
    font-family: 'Pretendard Variable', sans-serif;
    @apply text-primary-white;
  }
}
