@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/PretendardVariable.woff2') format('woff2');
}

@font-face {
  font-family: 'Firacode';
  src: url('/fonts/FiraCode-VF.woff2') format('woff2');
}

@layer base {
  html {
    font-family: 'Pretendard Variable', sans-serif;
    @apply text-primary-white;
  }
}

/* 모나코 에디터 설정 */
.monaco-editor,
.monaco-editor .overflow-guard,
.view-lines .monaco-editor.no-user-select,
.lines-content,
.monaco-editor.no-user-select,
.monaco-editor.no-user-select,
.margin-view-overlays {
  position: static !important;
  width: 100% !important;
  height: 100% !important;
  background-color: #242a32 !important;
}

.monaco-mouse-cursor-text {
  position: inherit;
}
